html {
	font-size: 62.5% !important; /*10 ÷ 16 × 100% = 55.5%*/
}
body {
	font-size: 1.6rem 'Microsoft YaHei', arial, tahoma, \5b8b\4f53,
		sans-serif !important; /*1.4 × 10px = 14px */
}
.div_radius{
	border-radius:10px
}
.btn_radius{
	border-radius:15px
}
.div_radius1{
	border-radius:15px 15px 0px 0px;
}