html {
	font-size: 62.5% !important; /*10 ÷ 16 × 100% = 55.5%*/
}
body {
	font-size: 1.6rem 'Microsoft YaHei', arial, tahoma, \5b8b\4f53,
		sans-serif !important; /*1.4 × 10px = 14px */
}
.h-style{
	padding:3px 0;
	color:#666;
	font-size:12px;
}
.div-border{
	padding:3px 0 5px;
	border-bottom:1px solid #e6e7e8;
}