.current2 {
	/* border-style: solid solid solid solid; */
	/* border-style: solid solid solid solid !important;
	border-width: medium medium medium medium !important; 
	border-color: #47D1D1 #47D1D1 #47D1D1 #47D1D1 !important
	border-color: black black black black !important; */
	color: #FF6C21 !important;
}