.x-inputText{ background-color:rgba(255, 255, 255, 0.8);}
.form-control-feedback{ height:34px; line-height:34px; }
.input_radius{
	border-radius:15px;
}
.tb-settlement{ line-height:40px; background-color:#407422; color:#fff; font-size:16px;}
.tb-nopadding{ padding:0;}
.btn-radius1{
		border-radius:30px;
}
.btn-group .btn.active {
	/* background-color: #407422; */
	color: #407422;
	border-bottom-color: #407422;
	border-bottom-style: groove;
	border-bottom-width: 2px;
	/* border-left-color: #407422;
	border-left-style: groove;
	border-left-width: 2px; */
}

.btn-color {
	/* background-color: #FFFFFF; */
	color: #111111;
}

.listxz {
	/* background-color: #407422; */
	/* border: #96CCEA;
	border-style: groove; */
	color: #407422;
	border-left-color: #407422;
	border-left-style: groove;
	border-left-width: 4px;
}
.listxz2 {
	/* background-color: #407422; */
	/* border: #96CCEA;
	border-style: groove; */
	color: #407422;
	
}
