.x-inputText{ background-color:rgba(255, 255, 255, 0.8);}/*搜索框*/
.form-control-feedback{ height:34px; line-height:34px; }
.input-bor{border-radius: 30px }
/*一级分类*/
.list-group {
	box-shadow: none;
}
.text-black {
	color: #333;
}

.tb-nopadding {
	padding-left: 0;
	padding-right: 0;
}
.*{
	font-family: “Microsoft YaHei” ! important;
}
.tb-numberOperation {
	width: 100%;
	height: 30px;
}
.tb-numberOperation span {
	padding: 4px 15px;
	border-top: 1px solid #cf0202;
	border-bottom: 1px solid #cf0202;
}

.list-group-item {
	background-color: #f5f5f5;
	border-radius: 0;
	border-color: #e1e1e1;
}

.list-group-item.current {
	background-color: #fff;
	border-right: 0;
	color: #cf0202;
	border-right-style:none;
}

.list-group-item.current h5 {
	color: #cf0202;
}

.x-card.btn-group .btn.active {
	color: #cf0202;
}
/*左右模块*/
.tb-box, .tb-box>.col {
	height: 100%;
	margin: 0;
	padding: 0;
}

.tb-box>.col {
	overflow: auto;
}

.tb-box>.col:first-child {
	padding-right: 10px;
}

.cart {
	border-radius: 30px
}

.goods-img {
	border-radius: 5px
}